#
# DATABASE CONFIGURATION
#
MYSQL_ROOT_PASSWORD=[fill me in]
#
# Default is Mysql. Change to use a different one.
DATABASE_TYPE=mysql
#DATABASE_TYPE=psql
#DATABASE_TYPE=oracle
#DATABASE_TYPE=sqlite
#
#
# MYSQL Config (used for Mysql and RaceDB containers)
MYSQL_USER=racedb
MYSQL_PASSWORD=[fill me in]
MYSQL_DATABASE=racedb
#
# Postgresql Config
#PSQL_USER=racedb
#PSQL_PASSWORD=[fill me in]
#PSQL_DATABASE=racedb
