#
# DATABASE CONFIGURATION
#
# Default is Mysql. Change to use a different one.
DATABASE_TYPE=mysql
#DATABASE_TYPE=psql
#DATABASE_TYPE=oracle
#DATABASE_TYPE=sqlite
#
# MYSQL Config (used for Mysql and RaceDB containers)
# The MYSQL_PASSWORD is also set the root password
MYSQL_USER=racedb
MYSQL_PASSWORD=[fill me in]
MYSQL_DATABASE=racedb
#
# Postgresql Config (from postgres container)
#POSTGRES_USER=racedb
#POSTGRES_PASSWORD=[fill me in]
#POSTGRES_DB=racedb
